@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 1026px) {
    #fadeshow2 { display: none; }

}


@media (max-width: 1026px) {
    #fadeshow1 { display: none; }

}



body,html{
    size: 100%;
    scroll-behavior: smooth;
}

.tc1{
    color : #343f4a 
}

.c1{
    background-color : #44D77A;
    
}

.c2{
    background-color : #FFD77A;
}

.c3{
    background-color : #FEBFB4;
}
.c4{
    background-color : #DBBFE8;
}
.c5{
    background-color : #B5DAFE;
}

.Link{
    background-color : #b99fef;
}

.Logo{
    width: 2%;
}