@tailwind base;
@tailwind components;
@tailwind utilities;



@media (min-width: 1026px) {
    #fadeshow2 { display: none; }

}



@media (max-width: 1026px) {
    #fadeshow1 { display: none; }

}

.navbarmenu {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Adds shadow for better visibility */
}

html,body{
    size: 100%;
    scroll-behavior: smooth;
}

.borderWhite{
    border-color: #ffffff;
}

.BGSlideAuto{

    background: linear-gradient(-45deg , #080b2a,#0e303c, #080b2a);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
	
}

.BGSlideMouse{

    background: linear-gradient(-45deg , #080b2a,#0e303c, #080b2a);
	background-size: 400% 400%;
	
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.tc1{
    
    color : #343f4a 
}

.c1{
    border-width: 2px;
    border-color: #4c239e;
    background-color : #44D77A;
    
}

.c2{
    border-width: 2px;
    border-color: #4c239e;
    background-color : #FFD77A;
}

.c3{
    border-width: 2px;
    border-color: #4c239e;
    background-color : #FEBFB4;
}
.c4{
    border-width: 2px;
    border-color: #4c239e;
    background-color : #DBBFE8;
}
.c5{
    border-width: 2px;
    border-color: #4c239e;
    background-color : #B5DAFE;
}

.Link{
    
    background-color : #b99fef;
}

.Logo{
    width: 2%;
}




.RobotLanguage {
    background-color: #c56adb; /* Fallback for older browsers */
    background-clip: padding-box; /* This ensures the gradient background is only applied to the padding area. */
    border: 2px solid transparent; /* We set a transparent border... */
    position: relative; /* Position relative is required to position the pseudo-element */
    padding: 10px; /* Adjust padding as needed */
}

/* Create a pseudo-element for the gradient border */
.RobotLanguage::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1; /* Place the pseudo-element behind the content */
    margin: -2px; /* This should match the border width */
    border-radius: inherit; /* Inherit border-radius from the parent */
    background-image: linear-gradient(to right, #c591d1, #b99fef); /* Your gradient */
    background-clip: padding-box; /* Clip the background to the inside edge of the border */
}

.quickqr {
    background-color: #b99fef; /* Fallback for older browsers */
    background-clip: padding-box; /* This ensures the gradient background is only applied to the padding area. */
    border: 2px solid transparent; /* We set a transparent border... */
    position: relative; /* Position relative is required to position the pseudo-element */
    padding: 10px; /* Adjust padding as needed */
}

/* Create a pseudo-element for the gradient border */
.quickqr::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1; /* Place the pseudo-element behind the content */
    margin: -2px; /* This should match the border width */
    border-radius: inherit; /* Inherit border-radius from the parent */
    background-image: linear-gradient(to right, #4c239e, #b99fef); /* Your gradient */
    background-clip: padding-box; /* Clip the background to the inside edge of the border */
}